body {
    font-family: 'Roboto', sans-serif;
}

.post {
    width: 600px;
    margin: 0px auto;
}
.post-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.post-header-left {
    display:flex;
    align-items: center;
}
.post-header-left p {
    margin:0px;
}
img {
    width: 600px;
    margin: 0px auto;
}

.post-body-left {
    display:flex;
    align-items: center;
    border: -1px solid red;

}
